// Included css for both nav and carousel images
#car-img img{
  height: 670px !important;
}

#mainNav img{
  width: 25% !important;
}

@media(max-width: 780px){
  #manager img{
    display: none;
  }
}